<?xml version="1.0"?>
<launch>
  <arg name="bot_name" default="husky"/>

  <group ns="$(arg bot_name)">
    <node name="depth_stereo" pkg="automi_v1" type="depth_stereo_node" output="screen" clear_params="true" respawn="true">
        <remap from="image1" to="camera1/image_raw/" />
        <remap from="image2" to="camera2/image_raw/" />

        <!-- <rosparam file="$(find voxblox_global_planner)/cfg/params.yaml" command="load" /> -->
        <rosparam file="$(find automi_v1)/cfg/depth/params.yaml" command="load" />
    </node>
  </group>

</launch>